* {
    margin: 0px;
    padding: 0px;
}

a {
    color: unset;

    text-decoration: none;
}
a:visited {
}


.wrapperLandingpage {
    display: grid;

    grid-template-areas: 
    'hd hd'
    'lk mn'
    'pc pc'
    'ft ft';

    grid-template-columns: 1fr 2fr;

    margin: 5px;
    gap: 5px;
}
.wrapper {
    display: grid;


    margin: 5px;
    gap: 5px;
}

#LandingPage {
    grid-template-areas: 
    'hd hd'
    'lk mn'
    'pc pc'
    'ft ft';

    grid-template-columns: 1fr 2fr;
}
#Menu {
    grid-template-areas: 
    'hd hd';
}

/* Denna biten är lite goofy, men det är så att loggan i mitten alltid är precis i mitten, vilket
jag inte lyckades fixa med flexbox*/
#title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;

    gap: 12px;
}
#title > * {
    margin-top: auto;
    margin-bottom: auto;
}
#title > h1 {
    text-align: end;
}
#title > p {
    text-align: start;
}
.logo {
    aspect-ratio: 1;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blue;
}
#pages {
    list-style-type: none;
}
#pages > li {
    float: left;
    display: block;
}
#pages > li > a {
    padding: 2vh;
}

#pages > li > a:hover {
    filter: brightness(90%);
}

#pages, li, a {
    background-color: inherit;
}


header {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-area: hd;

    height: 10vh;
}
footer {
    grid-area: ft;

    height: 10vh;
}

main {
    grid-area: mn;

    background-color: blueviolet;
}

#intro {
    padding: 10px;
}

h2 {
    margin-top: 10px;
}
h3 {
    margin-bottom: 0px;
}

#pictures {
    grid-area: pc;

    background-color: gray;
}
#links {
    padding: 10px;

    grid-area: lk;

    background-color: green;
}


/*About us*/
#AboutUs {
    grid-template-areas: 
    'hd hd hd'
    'pl pl hs'
    'cn in in'
    'ft ft ft';

    grid-template-columns: 1fr 1fr 1fr;

}

#people {
    grid-area: pl;

    background-color: purple;
}
#history {
    grid-area: hs;

    background-color: green;
}
#info {
    grid-area: in;

    background-color: blue;     
}
#contact {
    grid-area: cn;

    background-color: cornsilk;
} 









/* Temporärt */
header {
    background-color: red;
}
footer {
    background-color: red;
}