:root {
    --main-color: #b58b63;
    --other-color: #f6efe8;
    --green: #a5b58d;
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 2vh;
}

body {
    /*background: radial-gradient(circle at center, var(--green), var(--other-color));*/
    background-color: var(--green);
    color: rgb(50, 50, 50);

    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header,
footer {
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 2px var(--green);
}

a {
    color: unset;

    text-decoration: none;
}

.wrapper {
    display: grid;

    margin: 5px;
    gap: 1vw;
}

.logo {
    display: block;
    width: 8vh;
    height: 8vh;
}

footer {
    grid-area: ft;

    height: 10vh;
}

main {
    grid-area: mn;

    padding: 10px;

    background-color: var(--main-color);
}
section {
    padding: 10px;

    background-color: var(--main-color);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;

    margin-top: 0px;
}
h3 {
    margin-bottom: 0px;
}

#pictures {
    grid-area: pc;
}
#links {
    grid-area: lk;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-area: hd;

    height: 10vh;

    background-color: var(--other-color);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
}
#pages {
    list-style-type: none;
}
#pages > li {
    float: left;
    display: block;
}
#pages > li > a {
    padding: 2vh;
}

#pages > li > a:hover {
    filter: brightness(90%);
}

#pages,
li,
a {
    background-color: inherit;
}

/* Denna biten är lite goofy, men det är så att loggan i mitten alltid är precis i mitten, vilket
    jag inte lyckades fixa med flexbox*/
#title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;

    gap: 12px;
}
#title > * {
    margin-top: auto;
    margin-bottom: auto;
}
#title > h1 {
    text-align: end;
}
#title > p {
    text-align: start;
}

/* Footer */
footer {
    background-color: var(--other-color);
}

/* Landing Page */
#LandingPage {
    grid-template-areas:
        "hd hd"
        "lk mn"
        "pc pc"
        "ft ft";

    grid-template-columns: 1fr 2fr;
}

/* Menu */
#Menu {
    grid-template-areas:
        "hd hd"
        "qk in"
        "mn mn"
        "ft ft";

    grid-template-columns: 1fr 3fr;
}

#menu {
    grid-area: mn;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: center;
}
#menu > h2 {
    font-size: 2rem;
}

#menu > section {
    gap: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#menu > section > div {
    background-color: var(--main-color);

    aspect-ratio: 1.15;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#menu > section > div:hover {
    filter: brightness(105%);
}

#menu > section > div > img {
    max-height: 75%;
    animation: C 0.25s;
}
#menu > section > div:hover > img {
    max-height: 65%;
    animation: A 0.25s;
}

@keyframes A {
    from {
        max-height: 75%;
    }
    to {
        max-height: 65%;
    }
}
@keyframes C {
    from {
        max-height: 65%;
    }
    to {
        max-height: 75%;
    }
}

@keyframes B {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
@keyframes D {
    from {
        height: 100%;
    }
    to {
        height: 0%;
    }
}

#bakverk,
#lunch,
#drycker {
    padding-top: 10px;
}

.productDescription {
    overflow: hidden;

    height: 0%;

    animation: D 0.25s;

    font-size: 0.8rem;
}
#menu > section > div:hover > div > .productDescription {
    animation: B 0.25s;

    height: 100%;
}

.productInfo {
    display: grid;

    grid-template-columns: 1fr 75% 1fr;

    width: 90%;
    margin-bottom: 2%;
}
.price {
    font-weight: bold;
    text-align: end;
}

/*About us*/
#AboutUs {
    grid-template-areas:
        "hd hd hd"
        "pl pl hs"
        "cn in in"
        "ft ft ft";

    grid-template-columns: 1fr 1fr 1fr;
}

#people {
    grid-area: pl;

    display: grid;

    gap: 2vh 2vh;
    padding: 3%;

    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#people > div {
    background-color: var(--main-color);
    filter: brightness(90%);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    gap: 2px;

    height: 20vh;
    padding: 5px;
}
#people > div > h2 {
    font-size: 0.8rem;
    text-align: center;
}

#people > div > img {
    max-width: 100%;
    max-height: 70%;
}

#history {
    grid-area: hs;
}
#info {
    grid-area: in;
}
#quick {
    grid-area: qk;
}
#contact {
    grid-area: cn;
}

/* Temporärt */
