/* Setup-grejer och annat */

:root {
    --main-color: #b58b63;
    --other-color: #f6efe8;
    --green: #a5b58d;
    --text-color: rgb(30, 30, 30);
}
* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    color: unset;

    text-decoration: none;
}

body {
    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

    background-color: var(--green);
    color: var(--text-color);

    font-size: 1.25vw;
    font-family: sans-serif;
}

address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.wrapper {
    display: grid;

    margin: 5px;
    gap: 1vw;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;

    margin-top: 0px;
}
h3 {
    margin-bottom: 0px;
}

b {
    display: block;
}

/* Header */
header {

    grid-area: hd;

    display: flex;
    justify-content: space-between;

    padding: 20px;

    text-shadow: 1px 1px 2px var(--green);

    background-color: var(--other-color);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;

    justify-self: end;

    background-color: inherit;
}
#pages {
    list-style-type: none;
}
#pages > li {
    float: left;
    display: block;
}
#pages > li > a {
    padding: 2vw;
}

#pages > li > a:hover {
    filter: brightness(90%);
}

#pages,
li,
a {
    background-color: inherit;
}

/* Denna biten är lite goofy, men det är så att loggan i mitten alltid är precis i mitten, vilket
    jag inte lyckades fixa med flexbox. --- nu några veckor senare har jag absolut ingen aning om vad detta ska innebära, för att loggan är absolut inte precis i mitten på något sätt. whatever*/
#title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;

    gap: 12px;
}
#title > * {
    margin-top: auto;
    margin-bottom: auto;
}
#title > h1 {
    text-align: end;

    font-size: 1.75rem;
}
#title > p {
    text-align: start;
}

.logo {
    display: block;
    width: 8vh;
    height: 8vh;
}

/* Footer */

footer {
    text-shadow: 1px 1px 2px var(--green);

    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

footer > nav > ul {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    gap: 2px;
    font-size: 0.8rem;
    list-style: none;
}

footer {
    grid-area: ft;

    height: 10vh;

    background-color: var(--other-color);
}

/* Layout & Sections */

main {
    grid-area: mn;

    padding: 10px;

    background-color: var(--main-color);
}
section {
    padding: 10px;

    background-color: var(--main-color);
}

#pictures {
    grid-area: pc;

    display: grid;
    gap: 10px;

    grid-template-columns: 1fr 1fr;
}
#pictures > img {
    object-fit: cover;
    filter: brightness(75%) saturate(110%);
}
#pictures > img:nth-child(2) {
    filter: saturate(80%);
}

#big_picture {
    grid-area: bp;
}

/* Landing Page */
#LandingPage {
    grid-template-areas:
        "hd hd"
        "bp mn"
        "pc pc"
        "ft ft";

    grid-template-columns: 1fr 2fr;
}

/* Menu */
#Menu {
    grid-template-areas:
        "hd"
        "in"
        "mn"
        "ft";

    grid-template-columns: 1fr;
}

#menu {
    grid-area: mn;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: center;
}

#Menu > #info {
    display: flex;
    gap: 15px;
}
#Menu > #info > ul {
    list-style: none;
    font-weight: bolder;
}

#menu > h2 {
    font-size: 2rem;
}

#menu > section {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(35vh * 0.95 * 1.25));
    justify-content: center;
}

.menu_item {
    aspect-ratio: 0.95;
    height: 35vh;
}

#bakverk,
#lunch,
#drycker {
    padding-top: 10px;
}

.product_image {
    min-height: 0px;

    max-height: 100%;
    object-fit: contain;

    scale: 0.75;

    filter: brightness(75%);
    transition: filter 0.25s ease-in-out;
}
.menu_item:hover > .product_image {
    filter: none;
}

.product_title {
    font-size: 2vh;
}

.product_short {
    width: 65%;
    align-self: center;
    font-size: 1.85vh;
}

.product_description {
    overflow: hidden;
    font-size: 1.85vh;

    width: 65%;
    align-self: center;
}

.price {
    position: absolute;
    right: 10px;
    bottom: 10px;

    font-size: 1.5vh;

    font-weight: bold;
    text-align: end;
}

.menu_item:hover > .product_tags {
    opacity: 1;
}

.product_tags {
    opacity: 0.5;

    position: absolute;
    left: 10px;
    bottom: 10px;

    width: 10%;

    background-color: var(--green);

    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr;
}
.product_tags > * {
    scale: 0.8;

    filter: invert(18%) sepia(0%) saturate(1002%) hue-rotate(246deg)
        brightness(91%) contrast(90%);
    width: 100%;
}

/*About us*/
#AboutUs {
    grid-template-areas:
        "hd hd hd hd"
        "pl pl hs hs"
        "cn fu fu oh"
        "ft ft ft ft";

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#people {
    grid-area: pl;

    display: grid;

    gap: 2vh 2vh;
    padding: 3%;

    grid-template-columns: 1fr 1fr;
}
#people > div {
    filter: brightness(90%);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    gap: 2px;

    height: 20vh;
    padding: 5px;
}
#people > div > h2 {
    font-size: 0.8rem;
    text-align: center;
}

#people > div > img {
    max-width: 100%;
    max-height: 70%;
}

#history {
    grid-area: hs;
}
#info {
    grid-area: in;

    display: flex;
    justify-content: space-evenly;
}
#quick {
    grid-area: qk;
}
#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 15px;

    grid-area: cn;
}

#find_us {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: fu;
}
#find_us > iframe {
    margin-top: 10px;
    border: 2px solid var(--green);
    border-radius: 5px;
    width: 85%;
    height: 100%;
}

#opening_hours {
    grid-area: oh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#opening_hours > h2 {
    margin-bottom: 5vh;
}
#opening_hours > p {
    margin-bottom: 2.5vh;
}

/* Reveal card */

.reveal_card {
    background-color: inherit;

    border-radius: 5px;
    padding: 10px;
    gap: 5px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    position: relative;

    transition: filter 0.125s;
}
.reveal_card:hover {
    filter: brightness(105%);
}

.revealed {
    height: 0px;
    transition: height 0.25s ease-in-out;
}
.reveal_card:hover > .revealed {
    height: 100%; /* Detta är det bästa sättet jag hittat för att reveala beskrivningen, men det gör att texten alltid kommer ta samma mängd plats oberoende på hur mycket text det är. Jag hade kunnat använda max-height, men isåfall hade 'transition'-en inte fungerat lika bra. Det finns tydligen också funktioner där man kan använda auto och andra keywords i en transition men de verkar inte ha full support i alla browsers.*/
    transition: height 0.25s ease-in-out;
}