/* Setup-grejer och annat */

:root {
    --main-color: #b58b63;
    --other-color: #f6efe8;
    --green: #a5b58d;
    --text-color: rgb(50, 50, 50);
}

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 1.67vh;
}

body {
    background-color: var(--green);
    color: var(--text-color);

    padding: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header,
footer {
    color: rgb(50, 50, 50);
    text-shadow: 1px 1px 2px var(--green);
}

a {
    color: unset;

    text-decoration: none;
}

.wrapper {
    display: grid;

    margin: 5px;
    gap: 1vw;
}

.logo {
    display: block;
    width: 8vh;
    height: 8vh;
}

footer {
    grid-area: ft;

    height: 10vh;
}

main {
    grid-area: mn;

    padding: 10px;

    background-color: var(--main-color);
}
section {
    padding: 10px;

    background-color: var(--main-color);
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.2rem;

    margin-top: 0px;
}
h3 {
    margin-bottom: 0px;
}

b {
    display: block;
}

#pictures {
    grid-area: pc;
}
#links {
    grid-area: lk;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 2fr 1fr;

    grid-area: hd;

    height: 10vh;

    background-color: var(--other-color);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: inherit;
}
#pages {
    list-style-type: none;
}
#pages > li {
    float: left;
    display: block;
}
#pages > li > a {
    padding: 2vh;
}

#pages > li > a:hover {
    filter: brightness(90%);
}

#pages,
li,
a {
    background-color: inherit;
}

/* Denna biten är lite goofy, men det är så att loggan i mitten alltid är precis i mitten, vilket
    jag inte lyckades fixa med flexbox*/
#title {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;

    gap: 12px;
}
#title > * {
    margin-top: auto;
    margin-bottom: auto;
}
#title > h1 {
    text-align: end;
}
#title > p {
    text-align: start;
}

/* Footer */
footer {
    background-color: var(--other-color);
}

/* Landing Page */
#LandingPage {
    grid-template-areas:
        "hd hd"
        "lk mn"
        "pc pc"
        "ft ft";

    grid-template-columns: 1fr 2fr;
}

/* Menu */
#Menu {
    grid-template-areas:
        "hd"
        "in"
        "mn"
        "ft";

    grid-template-columns: 1fr;
}

#menu {
    grid-area: mn;

    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: center;
}

#Menu > #info {
    display: flex;
    gap: 15px;
}
#Menu > #info > ul {
    list-style: none;
    font-weight: bolder;
}

#menu > h2 {
    font-size: 2rem;
}

#menu > section {
    gap: 10px;

    display: grid;

    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, 28.5vh);
    justify-content: space-around;
}

.menu_item {
}

#bakverk,
#lunch,
#drycker {
    padding-top: 10px;
}

.product_image {
    flex-grow: 1;

    background-image: url(/img/bakverk/bread.png);

    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

    filter: brightness(25%);

    transition: filter 0.125s ease-in-out;
}
.menu_item:hover > .product_image {
    filter: none;
}

.product_description {
    overflow: hidden;
    font-size: 0.7rem;

    width: 65%;
    align-self: center;
}
.product_short {
    width: 65%;
    align-self: center;
}

.menu_item {
    aspect-ratio: 0.95;
    height: 30vh;
}

.price {
    position: absolute;
    right: 10px;
    bottom: 10px;

    font-weight: bold;
    text-align: end;
}

.menu_item:hover > .product_tags {
    opacity: 1;
}

.product_tags {
    opacity: 0.5;

    position: absolute;
    left: 10px;
    bottom: 10px;

    width: 10%;

    background-color: var(--green);

    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 1px 1px 1px 1px;
}
.product_tags > * {
    scale: 0.85;
    filter: invert(18%) sepia(0%) saturate(1002%) hue-rotate(246deg)
        brightness(91%) contrast(90%);
    width: 100%;
}

/*About us*/
#AboutUs {
    grid-template-areas:
        "hd hd hd hd"
        "pl pl hs hs"
        "cn fu fu oh"
        "ft ft ft ft";

    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#people {
    grid-area: pl;

    display: grid;

    gap: 2vh 2vh;
    padding: 3%;

    grid-template-columns: 1fr 1fr;
}
#people > div {
    filter: brightness(90%);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

    gap: 2px;

    height: 20vh;
    padding: 5px;
}
#people > div > h2 {
    font-size: 0.8rem;
    text-align: center;
}

#people > div > img {
    max-width: 100%;
    max-height: 70%;
}

#history {
    grid-area: hs;
}
#info {
    grid-area: in;

    display: flex;
    justify-content: space-evenly;
}
#quick {
    grid-area: qk;
}
#contact {
    grid-area: cn;
}

#find_us {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: fu;
}
#find_us > iframe {
    margin-top: 10px;
    border: 2px solid var(--green);
    border-radius: 5px;
    width: 85%;
    height: 100%;
}

#opening_hours {
    grid-area: oh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#opening_hours > h2 {
    margin-bottom: 5vh;
}
#opening_hours > p {
    margin-bottom: 2.5vh;
}

/* Reveal card */

.reveal_card {
    background-color: inherit;

    border-radius: 5px;
    padding: 10px;
    gap: 5px;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    position: relative;

    transition: filter 0.125s;
}
.reveal_card:hover {
    filter: brightness(105%);
    box-shadow: 1px 1px 1px 1px;
}

.revealed {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1, 0.25, 1);
}
.reveal_card:hover > .revealed {
    max-height: 100%;
    transition: max-height 0.5s ease-in-out;
}

/* Temporärt */
